<div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="row justify-content-center">
                        <h4>Creación de libro</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- <input type="text" #cod_Libro name="Codigo_Libro" class="form-control" placeholder="Codigo Libro" [(ngModel)] = "selectedLibro._cod_Libro"> -->
                        <input type="text" #name name="Nombre_Libro" class="form-control" placeholder="Nombre Libro" [(ngModel)] = "selectedLibro._nombre_Libro">
                        <input type="text" #iSBN name="Isbn" class="form-control" placeholder="ISBN" [(ngModel)] = "selectedLibro._iSBN">
                        <input type="text" #Cod_Autor name="Codigo_Autor" class="form-control" placeholder="Codigo Autor" [(ngModel)] = "selectedLibro._cod_Autor">
                        <input type="text" #Cod_Categoria name="Codigo_Categoria" class="form-control" placeholder="Codigo Categoria" [(ngModel)] = "selectedLibro._cod_Categoria">
                        <button (click)="CrearYActualizarLibro(selectedLibro)" class="btn btn-primary mt-1"> {{nombreButton}} </button>
                        <!-- &nbsp; <button *ngIf='selectedLibro._cod_Libro!=0' (click)="Cancelar()" class="btn btn-primary mt-1"> Cancelar </button> -->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <h4>Consultar libro</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="text" #Consulta_name name="Nombre_Libro" class="form-control" placeholder="Nombre Libro">
                        <button (click)="ConsultarLibro(Consulta_name)" class="btn btn-primary mt-1"> Consultar </button>
                    </div>
                </div>
                
                <div class="row">
                    <div *ngFor="let item of responseLibroArray" class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"> <span class="badge badge-primary">{{item._cod_Libro}}</span>&nbsp;
                                <B>ISBN {{item._iSBN}}</B>
                            </div>
                            <div class="panel-body">
                                <label ><b>Nombre:</b> {{item._nombre_Libro}}</label><br>
                                <label ><b>Codigo Autor:</b> {{item._cod_Autor}}</label><br>
                                <label ><b>Codigo Categoria:</b> {{item._cod_Categoria}}</label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row justify-content-center">
                        <h2>Galería de libro</h2>
                </div>
                <div class="row">
                    <div *ngFor="let item of LibroArray" class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"> <span class="badge badge-primary">{{item._cod_Libro}}</span>&nbsp;
                                <B>ISBN {{item._iSBN}}</B>
                            </div>
                            <div class="panel-body">
                                <label ><b>Nombre:</b> {{item._nombre_Libro}}</label><br>
                                <label ><b>Codigo Autor:</b> {{item._cod_Autor}}</label><br>
                                <label ><b>Codigo Categoria:</b> {{item._cod_Categoria}}</label><br>
                            </div>
                            <div class="panel-footer"><button (click)="EliminarLibro(item)" class="btn btn-primary"> Eliminar </button>
                            &nbsp; <button (click)="ActualizarLibro(item)" class="btn btn-primary"> Actualizar </button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>