<div class="container">
  <div class="row mt-5">
      <div class="col-md-4">
          <div class="row justify-content-center">
                  <h4>Creación de nuevo Autor</h4>
          </div>
          <div class="panel panel-default">
              <div class="panel-body">
                  <input type="text" #cod_autor name="Codigo_Autor" class="form-control" placeholder="Codigo Autor" [(ngModel)] = "selectedAutor._cod_Autor">
                  <input type="text" #name name="Nombre_Autor" class="form-control" placeholder="Nombre Autor" [(ngModel)] = "selectedAutor._nombre_Autor">
                  <input type="text" #lastName name="Apellido_Autor" class="form-control" placeholder="Apellido Autor" [(ngModel)] = "selectedAutor._apellido_Autor">
                  <button (click)="CrearYActualizarAutor(selectedAutor)" class="btn btn-primary mt-1"> {{nombreButton}} </button>
                  <!-- &nbsp; <button *ngIf='selectedAutor._cod_autor!=0' (click)="Cancelar()" class="btn btn-primary mt-1"> Cancelar </button> -->
              </div>
          </div>
          <div class="row justify-content-center">
                <h4>Consultar libro</h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="text" #Consulta_name name="Autor_Libro" class="form-control" placeholder="Autor Libro">
                    <button (click)="ConsultarLibro(Consulta_name)" class="btn btn-primary mt-1"> Consultar </button>
                </div>
            </div>
            
            <div class="row">
                <div *ngFor="let item of responseLibroArray" class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"> <span class="badge badge-primary">{{item._cod_Libro}}</span>&nbsp;
                            <B>ISBN {{item._iSBN}}</B>
                        </div>
                        <div class="panel-body">
                            <label ><b>Nombre:</b> {{item._nombre_Libro}}</label><br>
                            <label ><b>Codigo Autor:</b> {{item._cod_Autor}}</label><br>
                            <label ><b>Codigo Categoria:</b> {{item._cod_Categoria}}</label><br>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="col-md-8">
          <div class="row justify-content-center">
                  <h2>Galería de Autores</h2>
          </div>
          <div class="row">
              <div *ngFor="let item of AutorArray" class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading"><B>Autor</B></div>
                      <div class="panel-body"> <span class="badge badge-primary">{{item._cod_Autor}}</span>&nbsp;
                          <label><b>Nombre:</b> {{item._nombre_Autor}} {{item._apellido_Autor}} </label><br>
                      </div>
                      <div class="panel-footer"><button (click)="EliminarAutor(item)" class="btn btn-primary"> Eliminar </button>
                      &nbsp; <button (click)="ActualizarAutor(item)" class="btn btn-primary"> Actualizar </button></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


