<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="row justify-content-center">
                    <h4>Creación nueva Categoria</h4>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- <input type="text" #cod_Categoria name="Codigo_Autor" class="form-control" placeholder="Codigo" [(ngModel)] = "selectedCategoria._cod_Categoria"> -->
                    <input type="text" #name name="nombre_Categoria" class="form-control" placeholder="Nombre" [(ngModel)] = "selectedCategoria._nombre_Categoria">
                    <input type="text" #description name="descripcion_Categoria" class="form-control" placeholder="Descripcion" [(ngModel)] = "selectedCategoria._descripcion_Categoria">
                    <button (click)="CrearYActualizarCategoria(selectedCategoria)" class="btn btn-primary mt-1"> {{nombreButton}} </button>
                    <!-- &nbsp; <button *ngIf='selectedCategoria._cod_Categoria!=0' (click)="Cancelar()" class="btn btn-primary mt-1"> Cancelar </button> -->
                </div>
            </div>
            <div class="row justify-content-center">
                    <h4>Consultar libro</h4>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="text" #Consulta_name name="Nombre_Libro" class="form-control" placeholder="Nombre Categoria">
                        <button (click)="ConsultarLibro(Consulta_name)" class="btn btn-primary mt-1"> Consultar </button>
                    </div>
                </div>
                
                <div class="row">
                    <div *ngFor="let item of responseLibroArray" class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"> <span class="badge badge-primary">{{item._cod_Libro}}</span>&nbsp;
                                <B>ISBN {{item._iSBN}}</B>
                            </div>
                            <div class="panel-body">
                                <label ><b>Nombre:</b> {{item._nombre_Libro}}</label><br>
                                <label ><b>Codigo Autor:</b> {{item._cod_Autor}}</label><br>
                                <label ><b>Codigo Categoria:</b> {{item._cod_Categoria}}</label><br>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-8">
            <div class="row justify-content-center">
                    <h2>Galería de Categorias</h2>
            </div>
            <div class="row">
                <div *ngFor="let item of CategoriaArray" class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"> <span class="badge badge-primary">{{item._cod_Categoria}}</span>&nbsp;
                            <B>{{item._nombre_Categoria}}</B>
                         </div>
                        <div class="panel-body">
                            <label >Descripcion:</label><br>
                            <label >{{item._descripcion_Categoria}}</label>
                        </div>
                        <div class="panel-footer"><button (click)="EliminarCategoria(item)" class="btn btn-primary"> Eliminar </button>
                        &nbsp; <button (click)="ActualizarCategoria(item)" class="btn btn-primary"> Actualizar </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>