<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/libro">MENU PRINCIPAL</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a (click)="router('libro')"><i class="fa fa-home"></i> LIBROS</a></li>
            <li><a (click)="router('autor')"><i class="fa fa-shield"></i> AUTORES</a></li>
            <li><a (click)="router('categoria')"><i class="fa fa-comment"></i> CATEGORIAS</a></li>
        </ul>
    </div>
    </nav>